# Jetbrains
.idea

# VSCode
.vscode

# Node
npm-debug.log

# Mac Trash
.DS_Store

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc