### macOS ###
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
Icon
._*
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Environments
.env
.venv
venv/
env.bak/
venv.bak/

# Jetbrains
out/**
.idea_modules/**
.idea/**

### Terraform ### 
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
secret.auto.tfvars
.secret
*.tfstate
*.tfstate.*
**/.terraform/*

### VisualStudioCode ###
.vscode/*
.history/*
.history
.ionide
*.log

### Ansible ###
*.retry

### Crash log files ###
crash.log